body {
  position: relative;
  width: 1600px;
  height: 2349px;

  background: #ffffff;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  height: 80px;
  margin-top: 0px;
  margin-left: 0px;

}
/* end header */

/* hero */


.hero{
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
  background-color: #2F303A;
  color: #ffffff;

}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  font-family: Roboto;
  text-align: center;
}

.hero-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  background: #2196F3;
  color: #ffffff;
  letter-spacing: 0.06em;
  
}

/* end hero */

/* strengths */

.strengths {
  display: flex;
  justify-content: center;
  text-align: left;
  text-decoration: none;
  list-style-type: none;
  width: 1170px;
  height: 101px;
  margin-left: 215px;
  margin-top: 20px;
  
}

.item {

}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: #757575;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

/* end strengths */
/* Menu styles */
.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 1688px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.menu {
  display: inline;
  list-style-type: none;
  text-decoration: none;
  
}

.nav-bar {
  display: inline;
  list-style-type: none;
  text-decoration: none;
  
  
}

.nav-bar-li {
  float: left;
}

a {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  list-style-type: none;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2196f3;
}

.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mail:hover,
.mail:focus {
  color: #2196f3;
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  flex-basis: 110px;
}

.tel:hover,
.tel:focus {
  color: #2196f3;
}
/* end menu style */

/* main pages style */
button {
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

button:focus,
button:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.filter {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
}
.filter:active {
  color: #2196f3;
}

.portfolio {
  list-style-type: none;
}

h2 {
  font-size: 18px;
  line-height: 2;
}

p {
  font-size: 16px;
  line-height: 1.87;
}


/* end main pages style */
/* footer */

.footer  {
  background-color: #2F303A;
  
}

.address {
  color: #ffffff;
}